@import '../../../development/components/stormtech/stormtech.component.scss';

@media (min-width: 0px) {
  button._playGame {
    color: $first_color;
    border: none;
    margin-bottom: 6rem;
    position: absolute;
    top: 65.5%;
    left: 31%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    border: none;
    cursor: pointer;
    border-radius: 25px;
    background-color: $first_color_lighter;
    padding: .5rem 3rem;
    font-weight: 700;
  }
  button._playGame:hover {
    background-color: white;
    box-shadow: none;
  }
  
}