@import '../../../development/components/stormtech/stormtech.component.scss';

@media (min-width: 0px) {
  button._playGame {
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: $dev_color;
    padding: .5rem 3rem;
  }
  button._playGame:hover {
    background-color: $dev_color_light;
  }
}