<app-header-section
  [header]="header">
</app-header-section>
<article class="_container_all">
  <section class="_container">
    <div class="_container_cards">
      <app-section
        [sections]="sections"
        [subtitle]="subtitle">
      </app-section>
    </div>
  </section>
</article>

<!-- <article class="_container_all">
  <section class="_container">
    <div class="_container_title">
      <mat-icon class="_icon_nav">{{ icon }}</mat-icon>
      <h1 class="_title">{{ area }}</h1>
    </div>

    <div class="_container_cards">
      <article class="_container_section">
        <section class="_container_item" (click)="OpenClose('ux_ui')">
          <h2 class="_item" >ux | ui</h2>
        </section>
        <div class="_container_info" [hidden]="!visibleUx_Ui">
          <app-brands-buttons 
            [brands]="brands_ux_ui">
          </app-brands-buttons>
          <div class="_scroll">
            <p class="_info">
              <span>UX, se enfoca en la relación humano/máquina.</span> Evolución de la ergonomía, 
              el diseño juega un papel protagónico <span>buscando la satisfacción de quienes 
              interactúan con un sistema,</span> producto o entorno. Garantiza <span>interacciones intuitivas, 
              eficientes y gratificantes.</span><br>
              <span>UI, define la forma, función, utilidad, ergonomía, imagen de marca</span> y otros aspectos 
              que impactan la apariencia de interfaces en sistemas. <span>Crea interfaces atractivas, 
                funcionales y coherentes,</span> facilitando la interacción del usuario con el producto o 
              servicio. <span>Combina con UX para una experiencia completa y satisfactoria.</span>
            </p>
          </div>
        </div>
        <div class="_container_button" *ngIf="visibleUx_Ui">
          <button class="_close" (click)="OpenClose('ux_ui')">cerrar</button>
        </div>
      </article>

      <article class="_container_section">
        <section class="_container_item" (click)="OpenClose('graphic')">
          <h2 class="_item">gráfico</h2> 
        </section>
        <div class="_container_info" [hidden]="!visibleGraphic">
          <app-brands-buttons 
            [brands]="brands_graph">
          </app-brands-buttons>
          <div class="_scroll">
            <p class="_info">Profesión que <span>proyecta comunicación visual para transmitir 
              mensajes</span> específicos a grupos sociales con objetivos determinados. 
              <span>Genera identidad visual en productos o servicios,</span> creando un discurso 
              de marca homogéneo. Desde <span>logos y branding hasta diseño editorial y publicitario,</span> 
              el diseño gráfico es esencial para establecer <span>conexiones emocionales y destacar en 
              un mercado competitivo.</span> Utiliza la creatividad y estética para contar historias, 
              <span>comunicar ideas y construir la imagen de una marca.</span> Abarca áreas empresariales,
               artísticas y culturales.</p>
          </div>
        </div>
        <div class="_container_button" *ngIf="visibleGraphic">
          <button class="_close" (click)="OpenClose('graphic')">cerrar</button>
        </div>
      </article>

      <article class="_container_section">
        <section id="dissabled" class="_container_item">
          <h2 class="_item" >
           experimental
          </h2>
        </section>
        <div class="_container_info" [hidden]="true">
          <div class="_scroll">
            <p class="_info">
              El término experimentación, su aplicación y su finalidad nacen en el <span>mundo de la ciencia.</span> 
              Por experimentación se entiende la <span>indagación fundada a partir de la provocación voluntaria </span>  
              de ciertos fenómenos para confirmar alguna hipótesis. 
              La experimentación es la <span>observación dirigida </span> que completa la <span> observación espontánea.</span>
            </p>
          </div>
          <div class="_container_button">
            <button class="_button_more" routerLink="illustration-sketch">
              <mat-icon class="_icon_button">work_outline</mat-icon>portafolio
            </button>
          </div>
        </div>  
      </article>
    </div>

  </section>
  <app-download></app-download>
</article> -->