<article class="_container_footer">
  <section class="_header_footer">
    <div class="_container_ornament">
      <img class="_ornament _left" (contextmenu)="preventRightClick($event)"
        src="../../../../assets/images/footer/ornamento_bottom_footer.svg" alt="ojo pez volador">
    </div>   
    <div class="_container_me">
      <img class="_img_sb" (contextmenu)="preventRightClick($event)"
        src="../../../../assets/images/footer/azulejo_yo.png" alt="Firma de Sebastián Bellido">
    </div>
    <div class="_container_ornament">
      <img class="_ornament _right" (contextmenu)="preventRightClick($event)"
        src="../../../../assets/images/footer/ornamento_top_footer.svg" alt="ojo pez volador">
    </div>  
  </section>
  <div class="_container_download">
    <app-download class="_download"></app-download>
  </div>  
  
  <section class="_container_social_networks">
    <div class="_container_logo_socialnet" 
    *ngFor="let btn of btnSN">
      <a href="{{ btn.route }}" target="_blank">
        <img class="_logo_socialnet" title="{{ btn.name}}" 
        src="{{ btn.img }}" alt="{{ btn.text }}">
      </a>
    </div>
  </section>

 
  <div class="_footer_bottom"> 
    <p class="_copyright">Sitio Web desarrollado con <span>Angular 13.</span></p>
    <p class="_copyright"><span>@Copyright</span> Todos los derechos reservados a <span>Sebastián Bellido.</span></p>
  </div>
</article> 