<article class="_container_footer">
  <app-download></app-download>
<!-- 
  <p class="_message">Contáctame!</p>

  <section class="_container_contact">     
    <div class="_container_social_networks"
    *ngFor="let btn of btnContact">
      <a target="_blank" href="{{ btn.route }}">
        <div class="">  
          <button class="_button_contact" title="{{btn.name}}" id="icon_email" mat-menu-item>
            <mat-icon class="_icon_contact">{{ btn.img }}</mat-icon>
          </button>
        </div>
      </a>
    </div>
  </section> -->
  
  <section class="_container_social_networks">
    <div class="_container_logo_socialnet" 
    *ngFor="let btn of btnSN">
      <a href="{{ btn.route }}" target="_blank">
        <img class="_logo_socialnet" title="{{ btn.name}}" 
        src="{{ btn.img }}" alt="{{ btn.text }}">
      </a>
    </div>
  </section>

  <section class="_header_footer">
    <div class="_container_ornament">
      <img class="_ornament" src="../../../../assets/images/footer/ornamento_top_footer.svg" alt="ojo pez volador">
    </div>  
    <div class="_container_me">
      <img class="_img_sb" src="../../../../assets/images/footer/azulejo_yo.png" alt="Firma de Sebastián Bellido">
    </div>
    <div class="_container_ornament">
      <img class="_ornament" src="../../../../assets/images/footer/ornamento_bottom_footer.svg" alt="ojo pez volador">
    </div>   
  </section>

  <div class="_footer_bottom"> 
    <p class="_copyright">Sitio Web desarrollado en Angular. <span>@Copyright</span> | Todos los derechos reservados a <span>Sebastián Bellido.</span></p>
  </div>
</article> 