<article>
  <app-header-section 
    [header]="header">
  </app-header-section>
  <select class="_dropdown" (change)="onChange($event)">
    <option value="imagesList1">
      <span class="icon"></span>elegir
    </option>
    <option value="imagesList2">
      <span class="icon"></span>elegir
    </option>
    <option value="imagesList3">
      <span class="icon"></span>elegir
    </option>
    <option value="imagesList4">
      <span class="icon"></span>elegir
    </option>
    <option value="imagesList5">
      <span class="icon"></span>elegir
    </option>
    <option value="imagesList6">
      <span class="icon"></span>elegir
    </option>
  </select>
  <article class="_container_all">
    <div class="_container_desktop">
      <img class="_desktop" src="../assets/images/desktop.png" alt="">
    </div>
    <app-gallery-desptop class="_gallery"
      [imagesList]="imagesList" 
      [imgGallery]="imgGallery"
      [totalImages]="imagesList.length">
    </app-gallery-desptop>
    <app-info
      [information]="information">
    </app-info>
    </article>
    <div class="_container_more_works">
      <div class="_container_text_more_works">
        <h4 class="_title">Más trabajos de diseño/ux|ui</h4>
      </div>
      <app-brands-buttons [brands]="brands"></app-brands-buttons>
    </div>
  </article>
  