<app-header-section
  [header]="header">
</app-header-section>
<article class="_mobile_version">
  <article class="_container_all">
    <div class="_container_desktop">
      <img class="_desktop" src="../assets/images/desktop.png" alt="">
    </div>
    <app-gallery-desptop class="_gallery"
      [imagesList]="imagesList" 
      [imgGallery]="imgGallery"
      [totalImages]="imagesList.length">
    </app-gallery-desptop>
    <mat-form-field>
      <mat-label>Seleccionar flujo</mat-label>
      <mat-select [(ngModel)]="selectedOption" (selectionChange)="onChange($event)">
        <mat-option *ngFor="let item of options" [value]="item.value">
          {{item.view_Text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <app-info
      [information]="information">
    </app-info>
  </article>
  <div class="_container_more_works">
    <div class="_container_text_more_works">
      <h4 class="_title">Más trabajos de diseño/ux|ui</h4>
    </div>
    <app-brands-buttons [brands]="brands"></app-brands-buttons>
  </div>
</article>

<article class="_desktop_version">
  <article class="_container_all">
    <div class="_container_desktop">
      <img class="_desktop" src="../assets/images/desktop.png" alt="">
    </div>
    <app-gallery-desptop class="_gallery"
      [imagesList]="imagesList" 
      [imgGallery]="imgGallery">
    </app-gallery-desptop>
    <app-info
      [information]="information">
    </app-info>
  </article>
  <div class="_container_selector">
    <mat-form-field>
      <mat-label>Seleccionar flujo</mat-label>
      <mat-select [(ngModel)]="selectedOption" (selectionChange)="onChange($event)">
        <mat-option *ngFor="let item of options" [value]="item.value">
          {{item.view_Text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="_container_more_works">
    <div class="_container_text_more_works">
      <h4 class="_title">Más trabajos de diseño/ux|ui</h4>
    </div>
    <app-brands-buttons [brands]="brands"></app-brands-buttons>
  </div>
</article>


<!-- <section class="_container_btn_header">
  <div class="_container_btn_back">
    <button mat-button class="_button_back" title="Atrás" [routerLink]="section.routerLink">
      <mat-icon class="_icon_back">keyboard_backspace</mat-icon>volver
    </button>
  </div>
</section> -->
  