@import '../../../../../gallery-desptop/gallery-desptop.component.scss';
@media (min-width: 0px) {
  section._container {
    height: auto;
    padding-top: 0rem;
  }
  ._hr {
    height: 0;
    width: 80%;
    border: 0 0 .5px 5 solid $first_color;
  }
  article._container_all {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  div._container_desktop {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 12rem;
    z-index: -1;  
  }
  img._desktop {   
    width: 100%;
    border-radius: 30px;
  }
  hr {
    height: 0;
    width: 89%;
    border: 0 0 .5px 5 solid $accent_color;
  }
  h4._title {
    color: $third_color;
    margin-block-end: 0;
    text-align: center;
    font-weight: 200;
  }
  div._container_more_works {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 16.5rem;
    margin: auto;
  }
  div._container_text_more_works {
    padding-bottom: .5rem;
    border-bottom: solid .5px $third_color;
  }	
}
@media (min-width: 1024px) {
  article._container_all {
    padding-top: 0;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
  }
  div._container_desktop {
    top: 11rem;
    left: -.5rem;
    width: 32.5rem;
  }
}
@media (min-width: 1440px) {
  article._container_all {
    justify-content: center;
  }
  div._container_desktop {
    top: 11.5rem;
    left: 17.1rem;
    width: 29.2rem;
  }
}
@media (min-width: 1500px) {
  div._container_desktop {
    top: 11.3rem;
    left: 19rem;
    width: 30rem;
  }
  div._container_image {
      width: 21rem
  }
}
@media (min-width: 1920px) {
  div._container_desktop {
    top: 11.3rem;
    left: 31.5rem;
  }
}
@media (min-width: 2560px) {
  div._container_desktop {
    left: 51.5rem;
  }
}