@import '../../../../../../../global/global.section_desktop.scss';

h4._title, h4._title_ {
  color: $design_color;
}
div._container_text_more_works {
  border-bottom: solid .5px $design_color;
}
div._container_more_works {
  padding-left: 2rem;
}
