@import '../../biography.component.scss';


/* SCREEN 0px */
@media (min-width: 0px) { 

// --------------INFO-------------- //
  ._img_personal {
    width: 6rem;
    border: solid $second_color 3px;
    border-radius: 50%;
  }
  div._scroll {
    height: 500;
  }
  ul {
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
  }
  li {
    font-size: .9rem;
  }
  li._year, p._year {
    color: $first_color;
    margin: 0 0 .5rem 0;
  }
  li._info {
    color: $first_color;
    line-height : 1.2rem;
    margin: .5rem 0;
    text-align: left;
  }

}  


/* SCREEN 1024px */
@media (min-width: 1024px) { 

  div._scroll {
    height: 10.8rem;
  }

}
