<article class="_container_info">

  <section class="_container_job">
    <div>
      <img class="_img_personal" src="../../../../../../assets/images/biography/personal/foto_sb.png" alt="">
    </div>
    <h3 class="_title">Sebastián Bellido</h3>
    <p class="_year"><span>1979 / Progresando</span></p>
    <p class="_info">
      Nació el <span>27 de octubre de 1979, </span>en el Sanatorio <span>Tandil,</span> 
      Provincia de Buenos Aires, República Argentina, pero lo registraron en Benito Juárez. 
      <span>Hijo de José Luis Bellido Gómez y Nilda Mabel Vega.</span> Tiene una <span>hermana llamada Carolina,</span> 
      <span> dos sobrinos llamados Salvador y Santiago y una sobrina llamada Simona.</span>
    </p>
    <p class="_info">
      Hizo su <span>escuela primaria en la N° 3 “Domingo Faustino Sarmiento”,</span> y la<span> secundaria,</span> 
      hasta tercer año inclusive <span>en el "Instituto Pedro Díaz Pumará" (IPDP), y</span> cuarto y quinto, 
      <span>en el "Colegio Nacional"</span> de Benito Juárez. <span>En 2007 se recibió</span> en la Facultad de Bellas Artes 
      (FBA) de la Universidad Nacional de La Plata (UNLP) <span>como Diseñador en Comunicación Visual</span>
      (DCV). <span>En 2018 realizó la Diplomatura en Diseño de Interfaces y Experiencias Digitales</span> (UXDI) como becario.
      <span>En 2016 obtuvo el Tramo Pedagógico y en 2022 la Tecnicatura Universitaria en Desarrollo de 
      Aplicaciones Informáticas</span> (TUDAI) en la Facultad de Ciencias Exactas (FCEx) de la UniCen. 
    </p>
    <p class="_info">  
      <span>Desde 2007 ha trabajado</span> como profesional independiente atendiendo problemas 
      relacionados <span>con diseño editorial, branding, diseño de producto e ilustración.</span>
      Algunos de <span>sus diseños han ganado premios</span> y obtenido menciones en concursos <span>internacionales.</span>
    </p>
    <p class="_info"> 
      <span>Entre 2005 y 2009 ha impartido clases cómo ayudante alumno y luego como docente</span> 
      de Introducción al Lenguaje Visual, Métodos de Diseño, Lenguaje Visual 1 y Lenguaje Visual 3 
      <span>en la Facultad de Bellas Artes de la UNLP. </span>
      Durante este período <span>fue co-fundador de la agrupación estudiantil “Alternativa por Bellas Artes”</span>
      (ALBA), <span>Consejero Departamental</span> por el Claustro Alumnos <span>de Diseño en Comunicación Visual </span> (DCV), 
      <span>candidato a la Presidencia del Centro de Estudiantes y al Consejo Académico</span> de la Facultad de Bellas Artes de la UNLP.
    </p>
    <p class="_info"> 
      <span>Entre 2009 y 2011,</span> durante la Intendencia de Pedro Gamaleri, 
      <span>ocupó el cargo de Director de Cultura de la Municipalidad de Benito Juárez,</span> 
      Buenos Aires, Argentina. Gestión que, <span>en el año 2010, inauguró y puso 
      en funcionamiento el Centro Cultural “El Nacional”,</span> actual sede de la Dirección de Cultura.
      <span>En 2011 su firma aparece en un Convenio con la embajada de México donde proponen intercambios</span> culturales, 
      educativos y sociales <span>muy prósperos para el pueblo</span> de Benito Juárez y su gente.
    </p>
    <p class="_info"> 
      <span>En 2018 fue becado para realizar</span> una Diplomatura en 
      Diseño de Interfaces y Experiencias Digitales <span>(UXDI).</span>
    </p> 
    <p class="_info"> 
      <span>Desde 2019</span> se encuentra abocado al <span>Diseño y Desarrollo de Aplicaciones</span> e Interfaces de Usuario. 
    </p> 
    <p class="_info"> 
      <span>Entre 2019 y 2021 fue Ayudante Alumno en la Cátedra Interfaces de Usuario e Interacción</span> 
      en la Facultad de Ciencias Exactas de la UniCen.
    <p class="_info"> 
      En su práctica Profesional de la carrera TUDAI <span>diseñó, desarrolló y puso en funcionamiento la plataforma 
      interactiva InvestigAr,</span> proyecto avalado por el CONICET, ITBA, FCEx, Pladema y Media.lab.
    </p>
    <p class="_info"> 
      <span>Entre 2019 y 2023 ha formado parte de equipos de desarrollo de software</span> ocupando el rol de Desarrollador Frontend y Diseñador de Interfaces de Usuario y Experiencias de Usuario (UX/UI).
    <p class="_info"> 
      <span>Desde 2022 forma parte del cuerpo docente de Coderhouse</span> (Plataforma de enseñanza online) dando cursos de Desarrollo Web. 
      <span>Trabajando además como Diseñador UX/UI Sr. para Tsoft</span> Argentina, <span>diseñando</span> aplicaciones y herramientas de trabajo <span>para YPF.</span>  
    </p>
    <p class="_info"> 
      <span>En 2023,</span> continuando por ese camino profesional y emprendedor, 
      <span>se ha radicado en Almería España, generando un nuevo emprendimiento llamado "mabell studio", </span> 
      siempre en busca de nuevas oportunidades de desarrollo personal y profesional.
    </p>
  </section>

</article>
