@import '../../../global/global.component.scss';
@import '../gallery/gallery.component.scss';

/* SCREEN 0px */
@media (min-width: 0px) {

/*------------ GALLERY ------------*/
  ._gallery {
    margin-bottom: 2rem;
  }
  ._container_image {
    padding-top: 0;
    width: 14rem;
    margin-bottom: 0;
  }
  ._image_gallery {
    width: 111%;
    z-index: -2;  
    margin-bottom: 4rem;
  }
  ._inactive_button,
  ._active_button {
    margin-bottom: 3rem;
  }
  div._container_count {
    margin-top: -.1rem;
  }

}

/* SCREEN 375px */
@media (min-width: 375px) {

/*------------ GALLERY ------------*/
  ._container_image {
    padding-top: .5rem;
    width: 16rem;
  }
  div._container_count {
    margin-top: 1rem;
  }

}

/* SCREEN 425px */
@media (min-width: 425px) {

/*------------ GALLERY ------------*/
  ._container_image {
    padding-top: .8rem;
    width: 18rem;
  }
  div._container_count {
    margin-top: 1.4rem;
  }

}

/* SCREEN 768px */
@media (min-width: 768px) {
  ._container_image {
    width: 18rem;
  }
  div._container_count {
    margin-top: 1.5rem;
  }
}

/* SCREEN 1024px */
@media (min-width: 1024px) {

  ._container_image {
    width: 23rem;
    margin-top: 0;
  }
  ._container_title {
    margin-bottom: 1rem;
  }
  div._container_count {
    margin-top: 3.7rem;
  }
  

}

/* SCREEN 1440px */
@media (min-width: 1440px) {

  div._container_count {
    margin-top: 2.3rem;
  } 
  ._container_image {
    width: 21.2rem;
  }

}

/* SCREEN 1500px */
@media (min-width: 1500px) {

  ._container_image {
    margin-top: .3rem;
  }
  div._container_count {
    margin-top: 2.8rem;
  } 

}

/* SCREEN 1920px */
@media (min-width: 1920px) {

  ._container_image {
    margin-top: 0;
  }

}

