@import '../../../global/global.component.scss';
@import '../gallery/gallery.component.scss';

/* SCREEN 0px */
@media (min-width: 0px) {

/*------------ GALLERY ------------*/
  ._gallery {
    margin-bottom: 2rem;
  }
  ._container_image {
    padding-top: 0;
    width: 14rem;
    margin-bottom: 0;
  }
  ._image_gallery {
    width: 111%;
    z-index: -2;  
    margin-bottom: 4rem;
  }
  ._inactive_button,
  ._active_button {
    margin-bottom: 3rem;
  }

}

/* SCREEN 1024px */
@media (min-width: 1024px) {

  ._container_image {
    width: 22.2rem;
    margin-top: 1rem
  }
  ._container_title {
    margin-bottom: 1rem;
  }
  div._container_count {
    margin-top: 3.7rem;
  }
  

}