
<app-header-section
  [header]="header">
</app-header-section>
<article class="_mobile_version">
  <article class="_container_all">
    <div class="_container_polaroid">
      <img class="_polaroid" src="../assets/images/polaroid.png" alt="marco de foto polaroid">
    </div>
    <app-gallery-polaroid class="_gallery"
      [imagesList]="imagesList" 
      [imgGallery]="imgGallery"
      [totalImages]="imagesList.length">
    </app-gallery-polaroid>
    <div class="_container_selector">
      <div class="_container_text_selector">
        <h4 class="_title_">Más participaciones en Consursos</h4>
      </div>
      <mat-form-field>
        <mat-label>Opciones disponibles</mat-label>
        <mat-select [(ngModel)]="selectedOption" (selectionChange)="onChange($event)">
          <mat-option *ngFor="let item of options" [value]="item.value">
            {{item.view_Text}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <app-info-polaroid
      [information]="information">
    </app-info-polaroid>
  </article>
  <div class="_container_more_works">
    <div class="_container_text_more_works">
      <h4 class="_title">Más trabajos de diseño/gráfico</h4>
    </div>
    <app-brands-buttons [brands]="brands"></app-brands-buttons>
  </div>
</article>

<article class="_desktop_version">
  <article class="_container_all">
    <div class="_container_polaroid">
      <img class="_polaroid" src="../assets/images/polaroid.png" alt="marco de foto polaroid">
    </div>
    <div class="_container_gallery_selector">
      <app-gallery-polaroid class="_gallery"
        [imagesList]="imagesList" 
        [imgGallery]="imgGallery"
        [totalImages]="imagesList.length">
      </app-gallery-polaroid>
      <div class="_container_selector">
        <div class="_container_text_selector">
          <h4 class="_title_">Más diseños de publicaciones</h4>
        </div>
        <mat-form-field>
          <mat-label>Opciones disponibles</mat-label>
          <mat-select [(ngModel)]="selectedOption" (selectionChange)="onChange($event)">
            <mat-option *ngFor="let item of options" [value]="item.value">
              {{item.view_Text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="_container_info_works">
      <app-info-polaroid
        [information]="information">
      </app-info-polaroid>
      <div class="_container_selector_works">
        <div class="_container_more_works">
          <div class="_container_text_more_works">
            <h4 class="_title">Más trabajos de diseño/gráfico</h4>
          </div>
          <app-brands-buttons [brands]="brands"></app-brands-buttons>
        </div>
      </div>
    </div>
  </article>
</article>