<article class="_container_gallery">
    <ng-container> 
        <section class="_gallery">  
            <button class="_active_button" (click)="previousImg(); onGalleryInteraction()">
                <mat-icon>navigate_before</mat-icon>
            </button>
            <div class="_container_image">
                <img class="_image_gallery" alt="First slide"
                [src]="imgGallery">
            </div> 
            <button class="_active_button" (click)="nextImg(); onGalleryInteraction()">
                <mat-icon>navigate_next</mat-icon>
            </button>
        </section>
        <div class="_container_count" *ngIf="imagesList.length > 1">
            <div class="_image_counter">
                {{ currentImageIndex }} / {{ imagesList.length }}
            </div>
        </div>
    </ng-container>
</article>