@import '../../../gallery-polaroid/gallery-polaroid.component.scss';
@media (min-width: 0px) {
  article._desktop_version {
    display: none
  }
  article._mobile_version {
    display: block;
  }
  article._header_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem auto;
    margin-bottom: 0
  }
  div._container_selector {
    margin-bottom: 1rem;
  }
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    background-color: $design_color;
    padding: .5rem;
    border-radius: 25px;
    margin-top: 0;
    text-align: center;
    width: 15.5rem;
  }
  ::ng-deep .mat-select-value-text {
    margin-left: 1rem;
  }
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix:hover {
    background-color: $accent_color;
  }
  ::ng-deep .mat-label {
    margin-left: 1rem;
  }
  section._container {
    height: auto;
    padding-top: 0rem;
  }
  article._container_all {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  div._container_polaroid {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 14.5rem;
    z-index: -1;
  }
  img._polaroid {
    width: 17rem;
    border-radius: 15px;
    object-fit: contain;
  }
  h4._title_ {
    margin-block-start: 0;
    border-bottom: none;
  }
  h4._title, h4._title_ {
    margin-block-end: 0;
    color: $design_color;
    text-align: center;
    font-weight: 200;
  }
  div._container_more_works {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 16.5rem;
    margin: auto;
  }
  div._container_text_more_works {
    padding-bottom: .5rem;
    border-bottom: solid .5px $design_color;
  }
  div._container_text_selector {
    padding-bottom: .5rem;
  }
}
@media (min-width: 375px) {
  h1._title {
    padding: 0 1.5rem;
  }
  img._polaroid {
    width: 22rem;
  }
  h4._title_ {
    margin-block-start: -1.5em;
  }
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    width: 20rem;
  }
}
@media (min-width: 425px) {
  h1._title {
    padding: 0 1.5rem;
  }
  img._polaroid {
    width: 25rem;
  }
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    width: 24rem;
  }
}
@media (min-width: 768px) {
    div._container_selector {
      padding: 2rem 12rem;
    }
    h4._title_ {
      margin-block-start: -3em;
    }
    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
      width: 23rem;
    }
    div._container_selector {
      margin-bottom: 1.5rem;
    }
}
@media (min-width: 1024px) {
  h4._title_ {
    margin-block-start: 0;
  }
  ::ng-deep .mat-form-field-appearance-legacy {
      width: 24rem;
  }
  article._desktop_version {
    display: flex; 
    flex-direction: column;
  }
  article._mobile_version {
    display: none;
  }
  article._container_all {
    padding-top: 0;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
  div._container_polaroid {
    top: 14.6rem;
    left: 1.4rem;
    width: 32.5rem;
  }
  div._container_gallery_selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div._container_more_works  {
    margin-left: 2rem;
  }
  div._container_selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 24rem;
    padding: 0;
    margin-right: 2rem;
  }
  div._container_info_works {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 1080px) {
  div._container_polaroid {
    left: 2.4rem;
  }
}
@media (min-width: 1440px) {
  article._header_section {
    padding: 10rem 35rem .5rem 35rem;
  }
  article._container_all {
    justify-content: center;
  }
  div._container_polaroid {
    top: 14.7rem;
    left: 15rem;
    width: 29.2rem;
  }
  div._container_selector {
    padding: 0;
  }
}
@media (min-width: 1500px) {
  article._header_section {
    padding: 10rem 38rem 1.2rem 38rem;
  }
  div._container_polaroid {
    top: 14.8rem;
    left: 17.5rem;
    width: 30rem;
  }
  div._container_image {
      width: 21rem
  }
}
@media (min-width: 1920px) {
  article._header_section {
    padding: 10rem 50rem 1.5rem 50rem;
  }
  div._container_polaroid {
    top: 14.6rem;
    left: 27rem;
  }
  div._container_selector {
    padding: 0;
    margin-right: 7rem;
  }
  div._container_more_works {
    margin-left: 3rem;
  }
}
@media (min-width: 2560px) {
  article._header_section {
    padding: 10rem 70rem 1.5rem 71rem;
  }
  div._container_polaroid {
    left: 46.3rem;
  }
}