@import '../../biography.component.scss';
/* SCREEN 0px */
@media (min-width: 0px) {  

}
/* SCREEN 1024px */
@media (min-width: 1024px) { 
    div._scroll {
        height: 19.5rem;
        overflow-x: auto;
    }
//     article._container_info {
//         height: 20rem;
//         width: 23vw;
//     }        
}
/* SCREEN 1440px */
// @media (min-width: 1440px) { 
//     img._logo {
//       width: 13vw;
//     }
// }
/* SCREEN 1500px */
@media (min-width: 1500px) { 
    div._scroll {
        height: 25rem;
    }
}
/* SCREEN 1920px */
//@media (min-width: 1920px) { 
    // img._logo {
    //     width: 10vw;
    // }
    // section._container_career {
    //     padding: 0 4.5rem 1rem 4.5rem
    // }
    // /*--------SCROLL---------*/
    // div._scroll {
    //     height: 13.5rem;
    //     overflow-x: auto;
    // }
//}

  