@import '../../biography.component.scss';

/* SCREEN 0px */
@media (min-width: 0px) { 
    
    article._container_info {
        height: auto;
        overflow-x: auto;
    }

}

/* SCREEN 1024px */
@media (min-width: 1024px) { 

/*--------SCROLL---------*/
    div._scroll {
        height: 19.5rem;
        overflow-x: auto;
    }
    article._container_info {
        height: 20rem;
    }
        
}

/* SCREEN 1440px */
@media (min-width: 1440px) { 

    img._logo {
      width: 13vw;
    }
  
}

/* SCREEN 1920px */
@media (min-width: 1920px) { 

    img._logo {
        width: 10vw;
    }
    section._container_career {
        padding: 0 4.5rem 1rem 4.5rem
    }
    /*--------SCROLL---------*/
    div._scroll {
        height: 13.5rem;
        overflow-x: auto;
    }
}

  