@import '../../biography.component.scss';
@media (min-width: 0px) { 
    img._logo {
        width: 11rem;
    }
    p._info {
        text-align: center;
        margin-block-start: 0em;
        margin-block-end: .5em;
        padding: 0 2rem;
    }
    p._info>span {
        font-weight: 700;
    }
    a._link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        text-decoration: none;
        color: $first_color;
    }
    a._link:hover {
        color: $first_color_light;
    }
    p._p_link {
        margin-block-start: 0em;
        margin-block-end: .1em;
    }
}
@media (min-width: 1024px) {
    p._info {
        padding: 0 1rem;
    }
} 
