@import '../../global.component.scss';

/* SCREEN 0px*/
@media (min-width: 0px) { 

/* ------------NAVBAR---------------*/
  ._header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: $first_color;
    -webkit-box-shadow: 0px 0px 4px 0px #1a1a1a; 
    box-shadow: 0px 0px 4px 0px #1a1a1a; 
    width: 100vw;
    height: 7.5rem;
    padding: .5rem 0
  }

  /* ------------NAVBAR LOGO---------------*/
  ._container_logo {
    display: flex;
    align-items: center;
  }
  /* ------------NAVBAR CIRCLE BUTTONS---------------*/
  
  img._logo_navbar {
    cursor: pointer;
    padding: 0rem;
    height: 2.3rem;
  }
  section._container_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 13rem;
  }
  ._container_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
  ._button { 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;  
    padding: 0rem .4rem;
  }
  ._active_button {
    background: $third_color; 
    background: radial-gradient(
      circle, $third_color_lighter 3%, 
      $third_color 100%
    );
  }
  ._inactive_button {
    background: radial-gradient(
      circle, $second_color_lighter 9%, 
      $second_color 100%
    );
  }
  ._icon_nav {
    color: $first_color;
    margin-right: 0px !important;
    padding: .4rem 0rem;
  }
  p._text_button {
    font-size: .7rem;
    color: $accent_color;
    margin-block-start: .5em;
    margin-block-end: 0em;

  }
  
}

// /* SCREEN 414px */
// @media (min-width: 414px) { 

//   section._container_buttons {
//     padding-top: 4.5rem;
//   }

// }


// /* SCREEN 768px */
// @media (min-width: 768px) { 

//   section._container_buttons {
//     padding: 5rem auto 2rem auto;
//   }

// }

/* SCREEN 1024px */
@media (min-width: 1024px) { 

  section._container_buttons {
    padding: 7rem 13rem;
  }
  ._button:hover { 
    background: $second_color_light;
  }

}

// /* SCREEN 1336px */
// @media (min-width: 1336px) { 

//   section._container_buttons {
//     padding: 7rem auto 2rem auto;
//   }

// }

// /* SCREEN 1920px */
// @media (min-width: 1920px) { 

//   section._container_buttons {
//     padding: 7rem auto 2rem auto;
//   }

// }

