
<!-- NAVBAR CIRCLE BUTONS -->
<header class="_header">
  <div class="_container_logo" (click)="navigateTo('works/home')">
    <img class="_logo_navbar" src="../assets/images/sb/logo_sb.svg"
    alt="Logo de Sebastián Bellido">
  </div>
  <section class="_container_buttons">
    <div class="_container_button" *ngFor="let btn of btnNavBar">
      <mat-button class="_button"
                  [id]="btn.id"
                  [ngClass]="btn.active ? '_active_button' : '_inactive_button'"
                  (click)="navigateBtnTo(btn)">
        <mat-icon class="_icon_nav">{{ btn.icon }}</mat-icon>
      </mat-button>
      <p class="_text_button _text_button_footer">{{ btn.tittle }}</p>
    </div>
  </section>
</header>
