<div class="_container_component">
  <ng-container *ngFor="let item of sections">
    <article class="_container_section" [ngClass]="{'_disabled': item.disabled}" style="animation: fadeIn 2.5s;">
      <section class="_container_item" 
        [style.background]="item.isHovered ? parentColorHover : parentColor" 
        (click)="OpenClose(item.title)">
        <h2 class="_item">{{ item.title }}</h2>
      </section>
      <div class="_container_info" [hidden]="!item.visible">
        <div class="_container_subtitle">
          <h4 class="_subtitle">{{ subtitle }}</h4>
        </div>
        <app-brands-buttons 
          [brands]="item.brandsData">
        </app-brands-buttons>
        <div class="_scroll">
          <p class="_info" [appHighlight]="item.text" [disabled]="item.disabled">{{ item.text }}</p>
        </div>
      </div>
      <div class="_container_button" *ngIf="item.visible">
        <button class="_close" (click)="OpenClose(item.title)">cerrar</button>
      </div>
    </article>
  </ng-container>
</div>
