<article>
  <button mat-button class="_button_back" title="Volver" routerLink="../../">
    <mat-icon class="_icon_button">keyboard_backspace</mat-icon>
  </button>
  <div class="_container_title">
    <mat-icon class="_icon_nav">{{ icon }}</mat-icon>
    <h1 class="_title">{{ area }}</h1>
  </div>

  <!-- <select class="_dropdown" (change)="onChange($event)">
    <option value="imagesList">
      <span class="icon"></span>1
    </option>
    <option value="imagesList2">
      <span class="icon"></span>2
    </option>
  </select> -->
  <!-- <mat-form-field>
    <mat-label>Selector de flujos</mat-label>
    <mat-select (change)="onChange($event)">
      <mat-option *ngFor="let item of options" [value]="item.value">
        {{item.view_Text}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  
  <article class="_container_all">  
    <div class="_container_mobile">
      <img class="_mobile" src="../assets/images/mobile_dark.png" alt="">
    </div>
    <app-gallery class="_gallery"
      [imagesList]="imagesList" 
      [imgGallery]="imgGallery"
      [totalImages]="imagesList.length">
    </app-gallery>
    <section class="_container_info_tecno">
      <div class="_container_info">
        <h4 class="_title_product">Travel Log | Web App</h4>
        <div class="_scroll">
          <p class="_p_card">
            Web App que permite <span>crear viajes y planes</span> entre otras funcionalidades extra.
            En el <span>año 2020</span> fue realizado este trabajo en el marco de la Cátedra Introducción a las Metodologías Ágiles del 
            Software (TUDAI/FCEx/UniCen), junto a un grupo de compañeros. <span> Sebastián</span> fue encargado de realizar 
            <span>diseño de prototipos, flujos de interacción, diseño de logo, 
            diseño UX | UI, presentación en público y se desempeñó como Scrum Master dentro del equipo.</span>
            El diseño y desarrollo, incluído, Diagrama de Clases y de Entidad y Relación, 
            se realizó a partir de un texto que simulaba ser un diálogo con el cliente. 
            El objetivo del trabajo era captura rrequerimientos y trabajar <span>aplicando Scrum</span> y 
            diseñar una app que cumpla con las espectativas del cliente.
          </p> 
        </div>
        <h4 class="_title_tecno">Herramientas utilizadas</h4><hr class="_hr">
        <figure class="_container_tecno">
          <a href="https://www.scrum.org/resources/blog/que-es-scrum" target="_blank">
            <img class="_logo_tecno" src="../assets/images/tecnologies/scrum.png" title="Scrum" alt="Logo de Scrum">
          </a>
          <a href="https://www.invisionapp.com/" target="_blank">
            <img class="_logo_tecno" src="../assets/images/tecnologies/invision.png" title="InVision" alt="Logo de InVision">
          </a>
          <a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank">       
            <img class="_logo_tecno" src="../assets/images/tecnologies/html.png" title="HTML5" alt="Logo de HTML5">
          </a>
          <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">       
            <img class="_logo_tecno" src="../assets/images/tecnologies/css.png" title="CSS3" alt="Logo de CSS3">
          </a>
        </figure>
      </div>
    </section>
  </article>
  <div class="_container_more_works">
    <div class="_container_text_more_works">
      <h4 class="_title">Más trabajos de diseño/ux|ui</h4>
    </div>
    <app-brands-buttons [brands]="brands"></app-brands-buttons>
  </div>
</article>
  