<p>xubox works!</p>
<article>
  <button mat-button class="_button_back" title="Volver" routerLink="../">
    <mat-icon class="_icon_button">keyboard_backspace</mat-icon>
  </button>
  <div class="_container_title" routerLink="../">
    <mat-icon class="_icon_nav">{{ icon }}</mat-icon>
    <h1 class="_title">{{ area }}</h1>
  </div> 
  <article class="_container_all">  
    <div class="_container_mobile">
      <img class="_mobile" src="../assets/images/mobile_dark.png" alt="">
    </div>
    <app-gallery
        [images]="images" 
        [imgGallery]="imgGallery">
    </app-gallery>
    <div class="_container_info">
      <h4 class="_title_product">Hunt | Landing Page</h4>
      <p class="_p_card"><span>Sitio web desarrollado en 2021 por Sebastián utilizando Bootstrap y JavaScript</span> 
          Hunt es un producto desarrollado en Angular, del cual también formó parte como Desarrollador Frontend, pero no hay registro visual de ello.
          En este producto <span>se encargó de trabajar el concepto de marca, crear la nomenclatura del producto, diseñar logotipo, imagen corporativa
          y desarrollo de Landing Page con animaciones CSS3 en todas las imágenes del home.</span>
          Es un sitio estático que muestra los servicios que ofrece el producto, 
          la posibilidad de contactar al proveedor y solicitar una demo una demo a partir del uso de un formulario. Fue desarrollado para Stormtech SL.
      </p>
    </div>
    <app-brands-buttons [brands]="brands"></app-brands-buttons>
  </article>
</article>
  