
<app-header-section
  [header]="header">
</app-header-section>
<article class="_mobile_version" *ngIf="(loadingService.isLoading() | async) === false">
  <article class="_container_all">
    <app-gallery class="_gallery"
      [imagesList]="imagesList" 
      [imgGallery]="imgGallery"
      [totalImages]="imagesList.length">
    </app-gallery>
    <app-info-mobile
      [information]="information">
    </app-info-mobile>
  </article>
  <div class="_container_more_works">
    <div class="_container_text_more_works">
      <h4 class="_title">Más trabajos de desarrollo/webs</h4>
    </div>
    <app-brands-buttons [brands]="brands"></app-brands-buttons>
  </div>
</article>

<article class="_desktop_version" *ngIf="(loadingService.isLoading() | async) === false">
  <article class="_container_all">
    <app-gallery class="_gallery"
      [imagesList]="imagesList" 
      [imgGallery]="imgGallery"
      [totalImages]="imagesList.length">
    </app-gallery>
    <app-info-mobile
      [information]="information">
    </app-info-mobile>
  </article>
  <div class="_container_more_works">
    <div class="_container_text_more_works">
      <h4 class="_title">Más trabajos de desarrollo/webs</h4>
    </div>
    <app-brands-buttons [brands]="brands"></app-brands-buttons>
  </div>
</article>
