<app-loader></app-loader>
<article class="_container_gallery">
    <section class="_gallery">
        <button class="_active_button" (click)="beforeImg(); onGalleryInteraction()">
            <mat-icon>navigate_before</mat-icon>
        </button>
        <div class="_container_image">
            <img class="_image_gallery" alt="First slide" [src]="imgGallery">
        </div>
        <button class="_active_button" (click)="nextImg(); onGalleryInteraction()">
            <mat-icon>navigate_next</mat-icon>
        </button>
    </section>
    <div class="_container_container">
        <div class="_container_count">
            <div class="_image_counter">
                {{ currentImageNumber }} / {{ imagesList.length }}
            </div>
        </div>
    </div>
</article>