@import '../../../gallery-desptop/gallery-desptop.component.scss';
@media (min-width: 0px) {
  // article._header_section {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-direction: column;
  //   padding: 9rem 1.5rem 1.7rem 1.5rem;
  //   margin-bottom: 0
  // }
  // div._container_btns_header {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   width: 100%;
  // }
  // button._button_back {
  //   display: flex;
  //   align-items: center;
  //   border: none;
  //   height: 1.2rem;
  //   border-radius: 0;
  //   color: $first_color_light;
  //   font-size: .9rem;
  //   font-weight: 400;
  //   width: 4rem;
  //   padding: 0 .5rem 0 0;
  // }
  // mat-icon._icon_back {
  //   color: $first_color_light;
  //   font-size: 1rem;
  //   padding-top: .5rem;
  // }
  // button._button_back:hover {
  //   color: $accent_color;
  //   mat-icon._icon_back {
  //   color: $accent_color;
  //   }
  // }
  // div._container_title {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  //   border: none;
  //   width: auto;
  // }
  // mat-icon._icon_title {
  //   color: $third_color;
  //   margin-right: 0;
  // }
  // h1._title {
  //   font-size: 1.2rem;
  //   font-weight: 300;
  //   color: $third_color;
  //   margin: 0;
  //   padding: 0 .5rem;
  //   margin-block-start: 0em;
  //   margin-block-end: 0em;
  // }
  // div._container_btn_back {
  //   width: 4rem;
  // }
  // select._dropdown {
  //   text-align: left;
  //   font-size: 1rem;
  //   background: none;
  //   border: none;
  //   color:  $first_color_light;
  //   font-size: 0.9rem;
  //   font-weight: 200;
  //   width: 4rem;
  // }
  // select._dropdown:hover {
  //     color: $first_color_lighter;
  //     cursor: pointer;
  // }
  // option {
  //   color: $first_color;
  //   padding: .3rem .5rem;
  //   width: 4rem;
  // }
  // ._dropdown-disabled {
  //   opacity: 0.5;
  //   pointer-events: none;
  // }
  section._container {
    height: auto;
    padding-top: 0rem;
  }
  ._hr {
    height: 0;
    width: 80%;
    border: 0 0 .5px 5 solid $first_color;
  }
  article._container_all {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  div._container_desktop {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 12rem;
    z-index: -1;
  }
  img._desktop {
    width: 100%;
    border-radius: 30px;
  }
  hr {
    height: 0;
    width: 89%;
    border: 0 0 .5px 5 solid $accent_color;
  }
  h4._title {
    color: $third_color;
    margin-block-end: 0;
    text-align: center;
    font-weight: 200;
  }
  div._container_more_works {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 16.5rem;
    margin: auto;
  }
  div._container_text_more_works {
    padding-bottom: .5rem;
    border-bottom: solid .5px $third_color;
  }
}
@media (min-width: 375px) {
  article._header_section {
    padding: 10rem 2rem 1.3rem 2rem;
  }
}
@media (min-width: 425px) {
  h1._title {
    padding: 0 1.5rem;
  }
  article._header_section {
    padding: 10rem 2rem .9rem 2rem;
  }
}
@media (min-width: 768px) {
  article._header_section {
    padding: 10rem 12rem .9rem 12rem;
  }
}
@media (min-width: 1024px) {
  article._container_all {
    padding-top: 0;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
  }
  div._container_desktop {
    top: 11rem;
    left: -.5rem;
    width: 32.5rem;
  }
}
@media (min-width: 1440px) {
  article._header_section {
    padding: 10rem 19rem 1rem 19rem;
  }
  article._container_all {
    justify-content: center;
  }
  div._container_desktop {
    top: 11.7rem;
    left: 17.1rem;
    width: 29.2rem;
  }
}
@media (min-width: 1500px) {
  article._header_section {
    padding: 10rem 38rem 1.2rem 38rem;
  }
  div._container_desktop {
    top: 11.7rem;
    left: 19rem;
    width: 30rem;
  }
  div._container_image {
      width: 21rem
  }
}
@media (min-width: 1920px) {
  article._header_section {
    padding: 10rem 50rem 1.5rem 50rem;
  }
  div._container_desktop {
    top: 12rem;
    left: 31.5rem;
  }
}
@media (min-width: 2560px) {
  article._header_section {
    padding: 10rem 70rem 1.5rem 71rem;
  }
  div._container_desktop {
    left: 51.5rem;
  }
}