<article>
  <app-header-section 
    [header]="header">
  </app-header-section>
  <article class="_container_all">  
    <div class="_container_desktop">
      <img class="_desktop" src="../assets/images/desktop.png" alt="Pc de escritorio e última generación">
    </div>
    <app-gallery-desptop class="_gallery"
      [imagesList]="imagesList" 
      [imgGallery]="imgGallery"
      [totalImages]="imagesList.length">
    </app-gallery-desptop> 
    <app-info
      [information]="information">
    </app-info>
  </article>
  <div class="_container_more_works">
    <div class="_container_text_more_works">
      <h4 class="_title">Más trabajos de desarrollo/bootstrap</h4>
    </div>
    <app-brands-buttons [brands]="brands"></app-brands-buttons>
  </div>
</article>
  