<article class="_container"> 
  <ul class="_cards" [class.transition]="transitionClass" (click)="toggleTransition()">
    <li class="_card _card-1">
      <img src="../../../../assets/images/home/formation.jpg" alt="elementos que describen formación académica"
        *ngIf="(loadingService.isLoading() | async) === false">
      <div class="_content">
        <h2>Formación</h2>
        <p>Diseñador en Comunicación Visual, Diseñador UX/UI, Técnico en Desarrollo de Aplicaciones Informáticas, Ilustrador, Docente y Músico afisionado.</p>
      </div>
    </li>
    <li class="_card _card-2">
      <img src="../../../../assets/images/home/profetion.jpg" alt="gráficos dibujados"
        *ngIf="(loadingService.isLoading() | async) === false">
      <div class="_content">
        <h2>Trayectoria</h2>
        <p>Desde 2019 ha integrado diferentes equipos de desarrollo de software, ocupando roles como Desarrollador Frontend y Diseñador UX/UI.</p>
      </div>
    </li>
    <li class="_card _card-3">
      <img src="../../../../assets/images/home/personality.jpg" alt="objetos ordenados sobre un escritorio"
        *ngIf="(loadingService.isLoading() | async) === false">
      <div class="_content">
        <h2>Personalidad</h2>
        <p>Responsable, dinámico, meticuloso y creativo. Habilidades para trabajar en equipo, coordinar grupos, manejar situaciones de alta presión y optimizar resultados.</p>
      </div>
    </li>
  </ul>

</article>
