@import '../../../global/global.component.scss';

@media (min-width: 0px) {
  h1 {
    color: $fifth_color_light;
    // color: $first_color_light;
    font-weight: 100;
    font-size: 1.2rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  section._container_cube {
    width: 150px;
    height: 150px;
    margin: 8rem auto 0 auto;
    position: relative;
    perspective: 400px;
  }

  article._intro_myself {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-top: 10rem;
  }
}

@media (min-width: 1920px) {
  section._container_cube {
    margin: 0 auto;
  }
}
