@import '../../../global/global.component.scss';
@media (min-width: 0px) {
  section._container_cube {
    width: 150px;
    height: 150px;
    margin: 50px auto;
    position: relative;
    perspective: 400px;
  }
  article.intro_myself {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10rem;
  }
  img._img_me {
    // border-radius: 50%;
    border: solid 3px $fifth_color_light;
    width: 10rem;
    margin: .5rem auto;
  }
  div._container_text {
    width: 16rem;
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    margin-top: 2rem;
  }
  ul._custom-list {
    list-style: none;
    padding-inline-start: .5rem;
    // padding-left: 1em; /* Ajusta el espaciado izquierdo según tus preferencias */
  }
  ._custom-list li::before {
    content: "•"; /* Usamos un punto medio como marcador */
    color: $fifth_color_light; /* Cambia "red" al color que desees */
    display: inline-block;
    font-size: 2.5em; /* Ajusta el tamaño del marcador */
    line-height: 0.8em; /* Ajusta el espaciado vertical del marcador */
    margin-left: -.1em;
  }
  li {
    color: $first_color_lighter;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-start
  }
  li>p {
    margin-block-start: .3em;
    margin-left: .5rem;
  }
  // article._header_section {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   flex-direction: column;
  //   padding: 10rem 1.5rem 0 1.5rem;
  //   margin-bottom: 0
  // }
  div._container_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    width: auto;
  }
  div._container_icon_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  img._icon_title {
    color: $first_color_lighter;
    margin-right: 0;
    width: 3rem;
  }
  h1._title {
    font-size: 1.3rem;
    font-weight: 400;
    color: $fifth_color_light;
    margin: 0;
    padding: 0 .5rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

}