<section class="intro_myself">
  <div class="_container_image">
    <img class="_img_me" src="../assets/images/sb/yo.jpg" alt="Sebastián Bellido mirando a la cámara y sonriendo">
  </div>
  <div class="_container_text">
    <h1 class="_title">Sebastián Bellido</h1>
    <ul class="_custom-list">
      <li>
        <p>Diseñador en Comunicación Visual, Diseñador UX/UI, Técnico en Desarrollo de Aplicaciones Informáticas, Ilustrador y Docente.</p>
      </li>
      <li> 
        <p>
          Desde 2019 ha integrado diferentes equipos de desarrollo de software, ocupando roles como Desarrollador Frontend y Diseñador UX/UI. 
        </p>
      </li>
      <li> 
        <p>
          Argentino y Español con documentación al día.
          Actualmente viviendo en Almería Capital, con posibiliad de reinstalarse en otro sitio. 
        </p>
      </li>
      <li>
        <p>
          Persona responsable, dinámica, meticulosa y creativa,
          con capacidad para trabajar en equipo, bajo
          condiciones de alta presión, coordinar grupos de personas y optimizar resultados.
        </p>
      </li>
    </ul>
  </div>
</section>
<article class="_container_all_"></article>
<!-- <article class="_container_all">
  <section class="_container_concepts">  
    <div class="_concept" *ngFor="let concept of concepts">
      <h1 class="_h1" [ngStyle]="getStyles()">{{concept}}</h1>
    </div>
  
    <div id="middle" class="_concept" *ngFor="let concept of concepts">
      <h1 class="_h1" [ngStyle]="getStyles()">{{concept}}</h1>
    </div>

    <div id="middle_0" class="_concept" *ngFor="let concept of concepts">
      <h1 class="_h1" [ngStyle]="getStyles()">{{concept}}</h1>
    </div>
  
    <div id="back" class="_concept" *ngFor="let concept of concepts">
      <h1 class="_h1" [ngStyle]="getStyles()">{{concept}}</h1>
    </div>
  </section>
</article> -->
<!-- <app-footer class="_footer"></app-footer> -->