

<app-header-section
  [header]="header">
</app-header-section>
<article class="_mobile_version">
  <article class="_container_all">
    <div class="_container_mobile">
      <img class="_mobile" src="../assets/images/mobile_dark.png" alt="un teléfono móbil muestra imágenes de la galería de Nighx">
    </div>
    <app-gallery class="_gallery"
      [imagesList]="imagesList" 
      [imgGallery]="imgGallery"
      [totalImages]="imagesList.length">
    </app-gallery>
    <div class="_container_text_more_works">
      <h4 class="_title_">Selector de flujos</h4>
    </div>
    <mat-form-field>
      <mat-label>Elegir una opción</mat-label>
      <mat-select [(ngModel)]="selectedOption" (selectionChange)="onChange($event)">
        <mat-option *ngFor="let item of options" [value]="item.value">
          {{item.view_Text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <app-info-mobile
      [information]="information">
    </app-info-mobile>
  </article>
  <div class="_container_more_works">
    <div class="_container_text_more_works">
      <h4 class="_title">Más trabajos de diseño/ux|ui</h4>
    </div>
    <app-brands-buttons [brands]="brands"></app-brands-buttons>
  </div>
</article>

<article class="_desktop_version">
  <article class="_container_all">
    <div class="_container_mobile">
      <img class="_mobile" src="../assets/images/mobile_dark.png" alt="un teléfono móbil muestra imágenes de la galería de Nighx">
    </div>
    <app-gallery class="_gallery"
      [imagesList]="imagesList" 
      [imgGallery]="imgGallery"
      [totalImages]="imagesList.length">
    </app-gallery>
    <app-info-mobile
      [information]="information">
    </app-info-mobile>
  </article>
  <div class="_container_selector">
    <mat-form-field>
      <mat-label>Selector de flujos</mat-label>
      <mat-select [(ngModel)]="selectedOption" (selectionChange)="onChange($event)">
        <mat-option *ngFor="let item of options" [value]="item.value">
          {{item.view_Text}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="_container_more_works">
    <div class="_container_text_more_works">
      <h4 class="_title">Más trabajos de diseño/ux|ui</h4>
    </div>
    <app-brands-buttons [brands]="brands"></app-brands-buttons>
  </div>
</article><!-- <article>
  <button mat-button class="_button_back" title="Volver" routerLink="../../">
    <mat-icon class="_icon_button">keyboard_backspace</mat-icon>
  </button>
  <div class="_container_title">
    <mat-icon class="_icon_nav">{{ icon }}</mat-icon>
    <h1 class="_title">{{ area }}</h1>
  </div>

  <select class="_dropdown" (change)="onChange($event)">
    <option value="imagesList">
      <span class="icon"></span>elegir
    </option>
    <option value="imagesList2">
      <span class="icon"></span>elegir
    </option>
  </select>

  <article class="_container_all">  
    <div class="_container_mobile">
      <img class="_mobile" src="../assets/images/mobile_dark.png" alt="">
    </div>
    <app-gallery class="_gallery"
      [imagesList]="imagesList" 
      [imgGallery]="imgGallery"
      [totalImages]="imagesList.length">
    </app-gallery>
    <section class="_container_info_tecno">
      <div class="_container_info">
        <h4 class="_title_product">Nighx | Streaming</h4>
        <div class="_scroll">
          <p class="_p_card">Nighx es un <span>servicio de streaming</span> que ofrece ver series y películas en un dispositivo con conexión a internet.
            En el <span>año 2019, Sebastián</span> fue encargado de realizar <span>diseño de marca y prototipos, flujos de interacción, aplicación de patrones de diseño, 
            diseño UX | UI y presentación en público. </span>Trabajo realizado en el marco de la Cátedra Interfaces de Usuario e Interacción (TUDAI/FCEx/UniCen), 
            junto a Germán Wivaux y Pablo Santa María. <span>Durante 2020 y 2021,</span> tras ser convocado y ganar concurso, <span>se desempeñó como ayudante alumno</span> en dicha Cátedra. 
          </p> 
        </div>
        <h4 class="_title_tecno">Herramientas utilizadas</h4><hr class="_hr">
        <figure class="_container_tecno">
          <a href="https://helpx.adobe.com/es/xd/help/adobe-xd-overview.html" target="_blank">
            <img class="_logo_tecno" src="../assets/images/tecnologies/xd.png" title="Adobe Xd" alt="Logo de Adobe Xd">
          </a>
          <a href="https://developer.mozilla.org/es/docs/Web/HTML" target="_blank">       
            <img class="_logo_tecno" src="../assets/images/tecnologies/html.png" title="HTML5" alt="Logo de HTML5">
          </a>
          <a href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank">       
            <img class="_logo_tecno" src="../assets/images/tecnologies/css.png" title="CSS3" alt="Logo de CSS3">
          </a>
          <a href="https://developer.mozilla.org/es/docs/Web/JavaScript" target="_blank">       
            <img class="_logo_tecno" src="../assets/images/tecnologies/js.png" title="JavaScript" alt="Logo de JavaScript">
          </a>
        </figure>
      </div>
    </section>
  </article>
  <div class="_container_more_works">
    <div class="_container_text_more_works">
      <h4 class="_title">Más trabajos de diseño/ux|ui</h4>
    </div>
    <app-brands-buttons [brands]="brands"></app-brands-buttons>
  </div>  
</article>
   -->