@import '../../../gallery/gallery.component.scss';
@media (min-width: 0px) {
  article._desktop_version {
    display: none
  }
  article._mobile_version {
    display: block;
  }
  article._header_section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem auto;
    margin-bottom: 0
  }
  div._container_selector {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5rem;
  }
  label._label {
    color: $first_color_light;
    border-bottom: .5px solid $first_color_light;
    padding-bottom: .5rem;
    text-align: center;
  }
  select._dropdown {
    text-align: center;
    font-size: .9rem;
    background: none;
    border: none;
    color:  $first_color_light;
    font-size: 0.9rem;
    font-weight: 200;
    width: auto;
    padding: .5rem;
    margin-bottom: 2rem;
    border-radius: solid 5px $first_color_light;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  option {
    color: $first_color;
    padding: .3rem .5rem;
    width: 4rem;
  }
  ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
    background-color: $first_color_lighter;
    padding: .5rem;
    border-radius: 10px 10px 0 0;
    margin-top: 0;
    text-align: center;
  }
  section._container {
    height: auto;
    padding-top: 0rem;
  }
  article._container_all {
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  div._container_mobile {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 14rem;
    z-index: -1;
  }
  img._mobile {
    width: 17rem;
    border-radius: 30px;
  }
  h4._title {
    color: $third_color;
    margin-block-end: 0;
    text-align: center;
    font-weight: 200;
  }
  div._container_more_works {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 16.5rem;
    margin: auto;
  }
  div._container_text_more_works {
    padding-bottom: .5rem;
    border-bottom: solid .5px $third_color;
  }
}
@media (min-width: 425px) {
  h1._title {
    padding: 0 1.5rem;
  }
}
@media (min-width: 768px) {
    div._container_selector {
      padding: 2rem 12rem;
    }
}
@media (min-width: 1024px) {
  article._desktop_version {
    display: flex; 
    flex-direction: column;
  }
  article._mobile_version {
    display: none;
  }
  article._container_all {
    padding-top: 0;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
  div._container_mobile {
    top: 14.4rem;
    left: 5.5rem;
    width: 32.5rem;
  }
  div._container_selector {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1440px) {
  article._header_section {
    padding: 10rem 35rem .5rem 35rem;
  }
  article._container_all {
    justify-content: center;
  }
  div._container_mobile {
    top: 14.5rem;
    left: 18.8rem;
    width: 29.2rem;
  }
    div._container_selector {
    padding: 2rem 40rem;
  }
}
@media (min-width: 1500px) {
  article._header_section {
    padding: 10rem 38rem 1.2rem 38rem;
  }
  div._container_mobile {
    top: 14.3rem;
    left: 21rem;
    width: 30rem;
  }
  div._container_image {
      width: 21rem
  }
}
@media (min-width: 1920px) {
  article._header_section {
    padding: 10rem 50rem 1.5rem 50rem;
  }
  div._container_mobile {
    top: 14.6rem;
    left: 33.5rem;
  }
  div._container_selector {
    padding: 1rem 52rem;
  }
}
@media (min-width: 2560px) {
  article._header_section {
    padding: 10rem 70rem 1.5rem 71rem;
  }
  div._container_selector {
    padding: 1rem 72rem;
  }
  div._container_mobile {
    left: 53.5rem;
  }
}