@import '../../global.component.scss';

/* SCREEN 0px */
@media (min-width: 0px) { 
  
  /*-------------HEADER------------*/
  ::ng-deep .mat-dialog-container {
    padding: 1rem;
    width: 100%;
  }

  ::ng-deep .cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.7);
  }

  section._popupHeader {
    // padding: 0 .5rem;
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    // flex-direction: row;
    // background-color: $dev_color_gradient;
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dev_color_gradient; /* Utiliza tu color de gradiente */
    border-top-left-radius: 10px; /* Ajusta el radio de borde superior izquierdo */
    border-top-right-radius: 10px; /* Ajusta el radio de borde superior derecho */
  }

  .article._popup {
    position: fixed;
    top: 5%; /* Ajusta este valor para dejar un pequeño margen desde la parte superior */
    left: 5%; /* Ajusta este valor para dejar un pequeño margen desde el lado izquierdo */
    width: 90%; /* Ocupa el 90% del ancho de la pantalla */
    height: 90%; /* Ocupa el 90% de la altura de la pantalla */
    max-width: none;
    max-height: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* Cambia el color de fondo según tus preferencias */
    border-radius: 10px; /* Ajusta el radio de borde según tu diseño */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra para resaltar el popup */
  }
  
  .section._popupBody {
    width: 100%;
    flex-grow: 1; /* Permite que el cuerpo del popup ocupe todo el espacio disponible */
    padding: 1rem;
    overflow-y: auto; /* Agrega desplazamiento vertical si el contenido es demasiado largo */
  }
  
  
}