@import '../../../global/global.component.scss';

/* SCREEN 0px */
@media (min-width: 0px) {

/*------------ GALLERY ------------*/
article._container_gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
  ._gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
  }
  div._container_image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: .3rem;
    width: 11rem;
    margin-bottom: -3rem;
  }
  img._image_gallery {
    width: 111%;
    z-index: -2;  
    margin-bottom: 3rem;
  }
  button._inactive_button,
  button._active_button {
    color: $first_color;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: .5rem;
    border: none;
    margin-bottom: 6rem;
  }
  button._active_button {
    cursor: pointer;
    background: radial-gradient(
      circle, $third_color_lighter 9%, 
      $third_color 100%
    );
  }
  button._active_button:hover {
    background-color: radial-gradient(
      circle, $third_color_lighter 9%, 
      $third_color 100%
    );
    
  }
  button._inactive_button {
    cursor: default;
    background-color: radial-gradient(
      circle, $third_color_lighter 9%, 
      $third_color 100%
    );
    color: $first_color;
    opacity: 0.5;
  }

  /*--------COUNTER----------*/
  div._container_count {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $first_color;
    border: solid .5px $first_color_light;
    border-radius: 50px;
    width: 9rem;
    margin-top: -.1rem;
  }

  div._image_counter {
    font-size: 1.5rem;
    font-weight: 100;
    color: $first_color_light;
  }

}

/* SCREEN 375px */
@media (min-width: 375px) {
  
  div._container_image {
    padding-top: .8rem;
    width: 13rem;
  }
  #left_btn {
    margin-right: 1rem;
  }
  #right_btn {
    margin-left: 1rem;
  }

}
/* SCREEN 425px */
@media (min-width: 425px) {
  
  div._container_image {
    width: 14rem;
    margin-bottom: -2.7rem;
  } 
  
 

}
/* SCREEN 768px */
@media (min-width: 768px) {
  
  div._container_image {
    margin-bottom: -3.7rem;
  } 
  img._image_gallery {  
    margin-bottom: 4rem;
  }
  

}

/* SCREEN 1024px */
@media (min-width: 1024px) {

  div._container_image {
    margin-top: .7rem;
    width: 14.2rem;
    padding-top: 2.5rem;
    margin-bottom: -2.3rem;
  }
  img._image_gallery {
    margin-bottom: 3rem;
  }
    /*--------COUNTER----------*/
    div._container_count {
      margin-top: -.2rem;
    }
  

}
