@import '../../global.component.scss';
::ng-deep .mat-dialog-container {
  padding: 1rem;
  border-radius: 15px;
}
div._header_modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
._container_icon {
  display: flex;
}
div._container_close_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50px;
}
h4._title_modal {
  margin-block-start: 0em;
  margin-block-end: 0em;
  color: $first_color;
  font-weight: 600;
}
div._container_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1rem 0 1rem;
}
p {
  font-size: .9rem;
}
div.container_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 15rem;
  padding: 2rem 0 .6rem 0;
}
button._btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  border: none;
  padding: .2rem .9rem;
  background-color: $first_color_lighter;
  cursor: pointer;
}
button._btn:hover {
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);

}
._icon_flag {
  width: 25px;
  height: auto;
}
._icon_check {
  color: #bafe71;
  width: auto;
  font-size: 2.4rem;
  margin: 1rem;
}
p._text_modal,
span._text_modal {
  color: $first_color;
  text-align: center;
}
span._text_modal {
  font-weight: 600;
}
div._container_close_btn {
  width: 2rem;
  height: 2rem;
}
div._container_close_btn:hover {
  background-color: $first_color_lighter;
}