<div class="container_modal">
  <div class="_header_modal">
    <div class="_container_icon">
      <mat-icon class="_icon_download">cloud_download</mat-icon>
    </div>
    <h4 class="_title_modal">
      Descarga CV
    </h4>
    <div class="_container_close_btn" (click)="closeModal()" title="Cerrar">
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <div class="_container_info">
    <mat-icon class="_icon_check">check_circle_outline</mat-icon>
    <p class="_text_modal">El CV de Sebastián fue desgargado con éxito.</p>
   <span class="_text_modal">Muchas gracias por tu interés.</span>
  </div>
</div>