@import '../../../global/global.component.scss';

/*---------DOWNLOAD----------*/
div._container_donwload {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}
a._donwload {
    color: $first_color_lighter;
    text-decoration: underline;
    cursor: pointer;
}
a._donwload:hover {
    color: $third_color_light;
}

