@import '../../../global/global.component.scss';

/*---------DOWNLOAD----------*/
div._container_donwload {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}
button._btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: $first_color;
    border-top: solid 1px grey;
    border-left: solid 1px grey;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    cursor: pointer;
}
button._btn:hover {
    background-color: $first_color_lighter;
    p._donwload, 
    ._icon_download {
        color: $first_color;
        font-weight: 600;
    }
}
p._donwload {
    padding: 0px 1rem;
    color: #e3e2e2;
    text-decoration: underline;
    text-decoration: none;
    padding-right: 2rem;
    font-size: 1rem;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
._icon_download {
    color: $first_color_lighter;
    padding-left: .5rem;
}


