<app-header-section
  [header]="header">
</app-header-section>
<article class="_container_all">
  <section class="_container">
    <div class="_container_cards">
      <article class="_container_section">
        <section class="_container_item" (click)="OpenClose('personal')">
          <h2 class="_item">personal</h2>
        </section>
        <app-personal [hidden]="!visiblePersonal"></app-personal>
        <div class="_container_button" *ngIf="visiblePersonal">
          <button class="_close" (click)="OpenClose('personal')">cerrar</button>
        </div>
      </article>

      <article class="_container_section">
        <section class="_container_item" (click)="OpenClose('academic')">
          <h2 class="_item">académico</h2>
        </section>
        <app-academic [hidden]="!visibleAcademic"></app-academic>
        <div class="_container_button" *ngIf="visibleAcademic">
          <button class="_close" (click)="OpenClose('academic')">cerrar</button>
        </div>
      </article>

      <article class="_container_section">
        <section class="_container_item" (click)="OpenClose('laboral')">
          <h2 class="_item">profesional</h2>
        </section>
        <app-labor [hidden]="!visibleLabor"></app-labor>
        <div class="_container_button" *ngIf="visibleLabor">
            <button class="_close" (click)="OpenClose('laboral')">cerrar</button>
        </div>
      </article>
    </div>
    
  </section>
</article>