@import '../../../global/global.component.scss';
@media (min-width: 0px) {
    section._container_info_tecno {
        display: flex;
        flex-direction: column;
    }
    div._container_info {
        background-color: #f9f9f9;
        width: 85vw;
        height: auto;
        border-radius: 33px;
        margin: 0;
        padding: 1.5rem;
    }
    h4._title_product {
        color: $first_color;
        text-align: center;
        display: block;
        margin-block-start: 0em;
        margin-block-end: .5em;
        font-weight: bold;
    }
    p._p_card {
        font-size: 1rem;
        color: $first_color;
        line-height : 1.3rem;
        // height: 25rem;
        height: auto;
    }
    figure._container_tecno {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 10px;
        margin-inline-end: 10px;
    }
    div._container_tecno {
        width: auto;
    }
    ._tecno {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 17rem;
        margin: 1rem auto;
    }
    h4._title_tecno {
        color: $first_color;
        margin-block-end: 0;
        text-align: center;
    }    
}
@media (min-width: 375px) {
    ._tecno {
        width: 20rem;
    }
}
@media (min-width: 425px) {
    ._tecno {
        width: 22rem;
    }
}
@media (min-width: 768px) {
    div._container_info {
      width: 56vw;
    }
    ._tecno {
        width: 24rem;
    }
}
@media (min-width: 1024px) {
    div._container_info {
      width: 32vw;
      height: 19.5rem;
      margin-top: 1.7rem;
    }
    p._p_card {
        height: 10rem;
    }
    ._tecno {
        width: 17rem;
    }
}
@media (min-width: 1440px) {
    div._container_info {
      width: 23vw;
      margin-left: 3rem;
      height: 23rem;
    }
    p._p_card {
        height: 13rem;
    }
    ._tecno {
        width: 20rem;
    }
}
@media (min-width: 1500px) {
    div._container_info {
      width: 22rem;
      height: 23.2rem;
    }
    ._tecno {
        width: 22rem;
    }
    p._p_card {
        height: 14rem;
    }
}
@media (min-width: 1920px) {
    div._container_info {
        width: 21rem;
    }
    ._tecno {
        width: 21rem;
    }
}
@media (min-width: 2560px) {
    div._container_info {
      height: 23.5rem;
    }
}