<section class="_container_info_tecno" *ngFor="let info of information">
    <div class="_container_info">
        <h4 class="_title_product">{{ info.title }}</h4>
        <div class="_scroll">
            <p class="_p_card">{{ info.text }}</p> 
        </div> 
        <h4 class="_title_tecno">{{ info.subtitle }}</h4><hr class="_hr">
        <app-tecnologies 
            [tecnologies]="info.tecnologies">
        </app-tecnologies>
        <!-- <div class="_container_figure_tecno">     
            <figure class="_container_tecno">
            <a href="{{ info.tecnologies.href }}" target="_blank">
                <img class="_logo_tecno" src="{{ tecno.src }}" title="{{ tecno.title }}" alt="{{ tecno.alt }}">
            </a>
            </figure>
        </div>   -->
    </div>     
</section>
