@import '../../../../../global/global.section_mobile.scss';

@media (min-width: 0px) {
  ._container_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  button._openApp {
    color: $first_color;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
    border-radius: 25px;
    background-color: $first_color_lighter;
    padding: .5rem 3rem;
    font-weight: 700;
  }
  button._openApp:hover {
    background-color: white;
    box-shadow: none;
  }
  h4._title, h4._title_ {
    color: $dev_color;
  }
  div._container_text_more_works {
    border-bottom: solid .5px $dev_color;
  }  
}
