@import '../../../design/components/ux-ui/components/nighx/nighx.component.scss';

@media (min-width: 0px) {
  ._container_button {
    // position: absolute;
    // top: 95%;
    // left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  button._openApp {
    color: $first_color;
    border: none;
    // margin-bottom: 6rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
    border-radius: 25px;
    background-color: $first_color_lighter;
    padding: .5rem 3rem;
    font-weight: 700;
  }
  button._openApp:hover {
    background-color: white;
    box-shadow: none;
  }
  
}