@import '../../works.component.scss';
@media (min-width: 0px) {
  ._container_cards {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1024px) { 
  ._container_cards {
    display: flex;
    flex-direction: row;
  }
}

