<app-header-section
  [header]="header">
</app-header-section>
<article class="_mobile_version" *ngIf="(loadingService.isLoading() | async) === false">
  <article class="_container_all">
    <app-gallery-polaroid class="_gallery"
      [imagesList]="imagesList" 
      [imgGallery]="imgGallery"
      [totalImages]="imagesList.length"
      (contextmenu)="preventRightClick($event)">
    </app-gallery-polaroid>
    <app-info-editorial
      [information]="information">
    </app-info-editorial>
  </article>
  <div class="_container_more_works">
    <div class="_container_text_more_works">
      <h4 class="_title">Más trabajos de diseño/gráfico</h4>
    </div>
    <app-brands-buttons [brands]="brands"></app-brands-buttons>
    <div class="_container_btn" title="Venta al público">
      <button class="_btn" (click)="routeTo('https://wa.me/541121580848?text=Hola, quisiera el precio de los libros para colorear personalizados. ¿Qué podrías ofrecerme?')">
        <img class="_icon_btn" src="../../../../assets/images/social_network/whatsapp/logo_social_network_whatsapp.svg" />
        <p class="_text_btn">Consultar precios</p>
      </button>
    </div>
  </div>
</article>

<article class="_desktop_version" *ngIf="(loadingService.isLoading() | async) === false">
  <article class="_container_all">
    <div class="_container_gallery_selector">
      <app-gallery-polaroid class="_gallery"
        [imagesList]="imagesList" 
        [imgGallery]="imgGallery"
        [totalImages]="imagesList.length"
        (contextmenu)="preventRightClick($event)">
      </app-gallery-polaroid>
    </div>
    <div class="_container_info_works">
      <app-info-editorial
        [information]="information">
      </app-info-editorial>
      <div class="_container_selector_works">
        <div class="_container_more_works">
          <div class="_container_text_more_works">
            <h4 class="_title">Más trabajos de diseño/gráfico</h4>
          </div>
          <app-brands-buttons [brands]="brands"></app-brands-buttons>
        </div>
      </div>
    </div>
  </article>
  <div class="_container_btn" title="Venta al público">
    <button class="_btn" (click)="routeTo('https://wa.me/541121580848?text=Hola, quisiera el precio de los libros para colorear personalizados. ¿Qué podrías ofrecerme?')">
      <img class="_icon_btn" src="../../../../assets/images/social_network/whatsapp/logo_social_network_whatsapp.svg" />
      <p class="_text_btn">Consultar precios</p>
    </button>
  </div>
</article>