@import '../info/info.component.scss';
@media (min-width: 768px) {
  div._container_info {
    width: 30vw;
  }
  ._tecno {
      width: 14rem;
  }
}
@media (min-width: 1024px) {
  div._container_info {
      width: 22vw;
      height: 25.4rem;
      margin: 1rem 1.5rem 0 1.5rem;
  }
  p._p_card {
    height: 15.5rem;
  }
}
@media (min-width: 1280px) {
  div._container_info {
    width: 19vw;
  }
}
@media (min-width: 1440px) {
  div._container_info {
      width: 18vw;
      // height: 29.3rem;
  }
  p._p_card {
    height: 20rem;
  }
}
@media (min-width: 1500px) {
  div._container_info {
    width: 17vw;
    height: 29.4rem;
  }
}
@media (min-width: 1920px) {
  div._container_info {
    width: 15rem;
    margin-left: -3rem;
  }
}

