<audio #previewSound src="../../../../../../../../../assets/images/dev/zombie/sounds/preview.mp3"></audio>
<audio #gamingSound src="../../../../../../../../../assets/images/dev/zombie/sounds/gaming.mp3"></audio>
<audio #jumpZombieSound src="../../../../../../../../../assets/images/dev/zombie/sounds/zombie.mp3"></audio>
<audio #deadSound src="../../../../../../../../../assets/images/dev/zombie/sounds/dead.mp3"></audio>

<div #logoGame class="logoGame"></div>
<div #GameOver class="GameOver"></div>

<button #killButton class="killButtonOn killButton"></button>
<button #startButton class="startButton"></button>
<button #jumpButton class="jumpButtonInactive"></button>

<div #fog class="fog"></div>
<div #fogGreen class="fogGreen"></div>
<div #background class="background"></div>
<div #background_L1 class="background_L1"></div>
<div #background_L2 class="background_L2"></div>
<div #background_L3 class="background_L3"></div>
<div #background_L4 class="background_L4"></div>
<div #background_L5 class="background_L5"></div>



