@import '../../../../../global/global.component.scss';
@import '../../../gallery/gallery.component.scss';
@import '../../development.component.scss';

/* SCREEN 0px */
@media (min-width: 0px) {

/*---------- SELECTOR ----------*/
  select._dropdown {
    font-size: 1rem;
    position: absolute;
    right: .8rem;
    top: 11.4rem;
    background: none;
    padding: 0;
    border: none;
    border-left: solid .5px $third_color;
    color:  $third_color;;
    font-size: 14px;
    font-weight: 500;
    padding: 0 .5rem;
  }
  select._dropdown:hover {
    color: $fifth_color;
    cursor: pointer;
  }
  
  /*-------- BUTTON BACK --------*/
  div._container_button_back {
    position: absolute;
    top:15rem;
    right: 5rem;
    display: flex;
    justify-content: center;
    margin: 3em auto 0rem auto;
  }
  button._button_back {
    position: absolute;
    top: 10.7rem;
    left: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: auto;
    padding: 0;
    // border: solid .8px $third_color;
    background: $first_color;
    border-radius: 50px;
  }
  button._button_back:hover {
    border: solid .5px $third_color;
    mat-icon._icon_button {
      color: $accent_color;
    }
  }
  div._container_button {
    display: flex;
    justify-content: center;
    margin: 1em auto 0rem auto;
  }
  mat-icon._icon_button {
    color: $third_color;
    margin-right: 0;
  }
  /*----------------------------*/
    
}

/* SCREEN 1024px */
@media (min-width: 1024px) {

  div._container_title {
    margin-bottom: 1rem;
  }  

}  

