<article>
  <button mat-button class="_button_back" title="Volver" routerLink="../">
    <mat-icon class="_icon_button">keyboard_backspace</mat-icon>
  </button>
  <div class="_container_title">
    <mat-icon class="_icon_nav">{{ icon }}</mat-icon>
    <h1 class="_title">{{ area }}</h1>
  </div>
  
  <article class="_container_all">  
    <div class="_container_mobile">
      <img class="_mobile" src="../assets/images/mobile_dark.png" alt="">
    </div>
    <app-gallery
        [imagesList]="imagesList" 
        [imgGallery]="imgGallery">
    </app-gallery>
    <!-- <app-gallery-desptop *ngIf="!isMobile"
        [images]="images_desktop" 
        [imgGallery]="imgGallery_desktop">
    </app-gallery-desptop>    -->
    <div class="_container_info">
      <h4 class="_title_product">InvestigAr | Web App</h4>
      <p class="_p_card"><span>Plataforma interactiva de investigación 
          multidisciplinaria</span> que tiene como principal objetivo 
          <span>evaluar distintos procesos cognitivos</span> dentro de la sociedad. 
          La finalidad principal es <span>generar estrategias para mejorar la calidad de vida</span> 
          de las personas basadas en evidencias científicas.<span>lanzada en 2020</span> 
          en Argentina. Sebastián se encargo de realizar tareas tales como <span>análisis de requisitos,
          comprensión del problema, captura de requerimientos, definición de objetivos y estimación de tiempos.</span>
          Una vez tomadas las decisiones correspondientes y acordado con Cristian García Bauza, 
          su supervisor de PPS (Práctica Profesional Supervisada), se encargó del
          <span>diseño del sistema, identidad gráfica, flujos de interacción y prototipos.</span>
          Posteriormente de llevó a cabo <span>desarrollo, implementación y presentación con el cliente. </span>
          Se utilizaron herramientas como <span>Angular, </span>incorporando <span>Firebase y Google Analithycs.</span>
          Tuvo un <span>seguimiento de más de un año</span> posterior a su despliegue.
      </p>
    </div>
    <app-brands-buttons [brands]="brands"></app-brands-buttons>
  </article>
</article>
  