<app-header-section
  [header]="header">
</app-header-section>
<article class="_mobile_version">
  <article class="_container_all">
    <div class="_container_polaroid">
      <img class="_polaroid" src="../assets/images/polaroid.png" alt="un teléfono móbil muestra imágenes de la galería de V-life">
    </div>
    <app-gallery-polaroid class="_gallery"
      [imagesList]="imagesList" 
      [imgGallery]="imgGallery"
      [totalImages]="imagesList.length">
    </app-gallery-polaroid>
    <app-info-polaroid
      [information]="information">
    </app-info-polaroid>
  </article>
  <div class="_container_more_works">
    <div class="_container_text_more_works">
      <h4 class="_title">Más trabajos de diseño/ux|ui</h4>
    </div>
    <app-brands-buttons [brands]="brands"></app-brands-buttons>
  </div>
</article>

<article class="_desktop_version">
  <article class="_container_all">
    <div class="_container_polaroid">
      <img class="_polaroid" src="../assets/images/polaroid.png" alt="un teléfono móbil muestra imágenes de la galería de Nighx">
    </div>
    <app-gallery-polaroid class="_gallery"
      [imagesList]="imagesList" 
      [imgGallery]="imgGallery"
      [totalImages]="imagesList.length">
    </app-gallery-polaroid>
    <app-info-polaroid
      [information]="information">
    </app-info-polaroid>
  </article>
  <div class="_container_more_works">
    <div class="_container_text_more_works">
      <h4 class="_title">Más trabajos de diseño/ux|ui</h4>
    </div>
    <app-brands-buttons [brands]="brands"></app-brands-buttons>
  </div>
</article>

<!-- <article>
  <button mat-button class="_button_back" title="Volver" routerLink="../">
    <mat-icon class="_icon_button">keyboard_backspace</mat-icon>
  </button>
  <div class="_container_title">
    <mat-icon class="_icon_nav">{{ icon }}</mat-icon>
    <h1 class="_title">{{ area }}</h1>
  </div> 

  <article class="_container_all">  
    <div class="_container_polaroid">
      <img class="_polaroid" src="../assets/images/polaroid.png" alt="marco de foto polaroid">
    </div>
    <app-gallery-polaroid class="_gallery"
      [imagesList]="imagesList" 
      [imgGallery]="imgGallery"
      [totalImages]="imagesList.length">
    </app-gallery-polaroid>

    <section class="_container_info_tecno">
      <div class="_container_info">
        <h4 class="_title_product">eyeka! | Consursos</h4>
        <div class="_scroll">
          <p class="_p_card">Participar en <span>concursos internacionales </span>puede ser una excelente manera de adquirir experiencia trabajando en el 
            <span>diseño para grandes marcas.</span> Además, puedes expresar tu creatividad, practicar tus habilidades. 
            También obtener retroalimentación sobre el trabajo de las marcas y aprender de otros participantes.
            <span>eYeka es una comunidad global de creadores talentosos</span> que aman resolver los desafíos de las marcas con ideas frescas, 
            creativas y contenido compartible. Los creadores en eYeka <span>compiten para resolver problemas comerciales reales de las marcas 
            más grandes del mundo</span> para ganar fama y fortuna, mientras se divierten.
          </p>
        </div>
        <h4 class="_title_tecno">Herramientas utilizadas</h4><hr class="_hr">
        <figure class="_container_tecno">
          <a href="https://www.adobe.com/la/products/photoshop/free-trial-download.html" target="_blank">
            <img class="_logo_tecno" src="../assets/images/tecnologies/photoshop.png" title="Adobe Photoshop" alt="Logo de Adobe Photoshop">
          </a>
          <a href="https://www.adobe.com/es/products/illustrator/free-trial-download.html" target="_blank">
            <img class="_logo_tecno" src="../assets/images/tecnologies/illustrator.png" title="Adobe Illustrator" alt="Logo de Adobe Illustrator">
          </a>        
        </figure>
      </div>
    </section>
  </article>
  <div class="_container_more_works">
    <div class="_container_text_more_works">
      <h4 class="_title">Más trabajos de diseño/gráfico</h4>
    </div>
    <app-brands-buttons [brands]="brands"></app-brands-buttons>
  </div>
</article> -->
