@import '../global/global.component.scss';
/* SCREEN 0px */
@media (min-width: 0px) {
  article._container_all {
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  div._container_title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem .5rem 0rem .5rem;
  }
  ._icon_nav {
    color: $third_color;
  }
  h1._title {
    font-size: 1.2rem;
    font-weight: 300;
    color: $third_color;
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  div._container_info {
    background-color: $accent_color;
    width: 85vw;
    height: auto;
    border-radius: 33px;
    margin: -1rem 0 1rem;
    padding: 1.5rem .5rem;
    border-bottom: .5px solid $first_color_lighter;
  }
  section._container {
    height: auto;
    padding-top: 0rem;
  }
  p {
    font-size: .9rem;
    color: $first_color;
    line-height : 1.2rem;
  } 
  div._container_cards {
    background-color: $first_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  ._container_item_disabled,
  ._container_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .7rem 0rem;
    width: 65vw;
    border-radius: 50px;
    margin: 1.3rem auto;
  }
  ._container_item {
    cursor: pointer;
    background: linear-gradient(
      0deg, $third_color 33%, 
      $third_color_light 100%
    );
  }
  ._container_item:hover { 
    background: linear-gradient(
      0deg, $third_color_light 33%, 
      $third_color_lighter 100%
    );
  }
  #dissabled {
    opacity: 50%;
    cursor: default;
  }
  #dissabled:hover {
      background: linear-gradient(
        0deg, $third_color 33%, 
        $third_color_light 100%
      );
  }
  h2._item {
    margin: 0;
    color: $first_color;
    font-size: 1.3rem;
    font-weight: 500;
  }
  h4._title_tecno {	  
    color: $first_color;	      
    margin-block-end: 0;	      
    text-align: center;	  
  }
  figure._container_tecno {	      
    display: flex;
    align-items: center;	
    justify-content: space-around;	
    flex-direction: row;	
  }	
  img._logo_tecno {	
      width: 3rem;	
      margin: 0 .5rem;	
      filter: grayscale(100%);	
      opacity: 60%;	
      cursor: pointer;	
      -webkit-transition:-webkit-transform 0.5s ease-out;	
      -moz-transition:-moz-transform 0.5s ease-out;	
      -o-transition:-o-transform 0.5s ease-out;	
      -ms-transition:-ms-transform 0.5s ease-out;	
      transition:transform 0.5s ease-out;	
  }	
  img._logo_tecno:hover {  	
      filter: none;	
      opacity: 100%;	
      -moz-transform: scale(1.2);	
      -webkit-transform: scale(1.2);	
      -o-transform: scale(1.2);	
      -ms-transform: scale(1.2);	
      transform: scale(1.2);	
  }	

  /*---------MORE WORKS----------*/	
  section._container_info_tecno {	
      display: flex;	
      flex-direction: column;	
  }	
  h4._title {	
      color: $third_color;	
      margin-block-end: 0;	
      text-align: center;	
      font-weight: 200;	
  }	
  div._container_more_works {	
      display: flex;	
      justify-content: center;	
      flex-direction: column;	
      width: 16rem;	
      margin: auto;	
  }	
  div._container_text_more_works {	
      padding-bottom: .5rem;	
      border-bottom: solid .5px $third_color;	
  }

  ._icon_button {
    margin-right: .5rem;
    color: $first_color;
  }
  hr._hr {
    width: 80%;
    height: 0;
    border: 0 0 .5px 5 solid $first_color;
  }
  section._container_links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
  }
  a._link {
    color: $first_color;
    display: inherit;
    align-items: inherit;
    color: $first_color_light;
    text-decoration: none;
    cursor: pointer;
  }
  section._container_links:hover {
    p._p_link, mat-icon  {
      color: $fifth_color;
    }
  }
  p._p_link {
    margin-block-start: .7em;
    margin-block-end: .8em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  span {
    font-weight: 700;
  }
  h3._title, h3._name  {
    color: $first_color;
    text-align: center; 
  }
  h3._title {
    margin: 0;
  }
  h3._name  {
    margin-block-start: 0em;
    margin-block-end: .5em;
  }
  div._container_logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img._logo {
    width: 12rem;
  }
  /*SUBITEMS*/
  div._container_button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 1.5rem 0rem;
  }
  button._close {
    font-size: 1rem;
    background: $fifth_color;
    color: $accent_color;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    padding: .2rem 1.3rem;
    cursor: pointer;
  }
  button._close:hover {
    background: $fifth_color_light;    
  }  
}






  // div._container_realization {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   width: auto;
  // }
//   figure {
//     display: flex;
//     margin-block-start: 0em;
//     margin-block-end: 0em;
//     margin-inline-start: 10px;
//     margin-inline-end: 10px;
// }
  // div._container_brands {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-around;
  //   margin: 1rem auto;
  //   width: 5rem;
  // }
  // img._logo_realization {
  //   -webkit-transition:-webkit-transform 0.5s ease-out;
  //   -moz-transition:-moz-transform 0.5s ease-out;
  //   -o-transition:-o-transform 0.5s ease-out;
  //   -ms-transition:-ms-transform 0.5s ease-out;
  //   transition:transform 0.5s ease-out;
  //   width: 3rem;
  //   filter: grayscale(1);
  //   outline: 2px solid $second_color;
  //   border-radius: 50%;
  //   cursor: pointer;
  // }
  // img._logo_realization:hover {
  //   filter: none;
  //   -moz-transform: scale(1.2);
  //   -webkit-transform: scale(1.2);
  //   -o-transform: scale(1.2);
  //   -ms-transform: scale(1.2);
  //   transform: scale(1.2);
  // }
  // p._name_realization {
  //   font-size: .7rem;
  //   color: $first_color;
  //   margin-block-start: .5em;
  //   margin-block-end: .5em;
  // }
  // a {
  //   color: $fifth_color;
  // }
  // div._show_more {
  //   display: flex;
  //   justify-content: center;
  //   border-radius: 20px;
  //   background-color: $second_color;
  //   width: 7rem;  
  //   margin: .5rem auto 1rem auto;
  //   cursor: pointer;
  //   padding: .3rem 0rem;
  //   -webkit-box-shadow: 0px 0px 4px 0px #333333; 
  //   box-shadow: 0px 0px 4px 0px #333333; 
  // }
  // p._see_more {
  //   font-size: .8rem;
  //   margin: 0rem;
  //   color: $first_color;
  //   font-weight: 500;
  // }
  // ._icon_expand {
  //   color: $first_color;
  // }
  // div._container_see_more {
  //   display: flex;
  //   flex-direction: row;
  //   align-items: center;
  // }

/* SCREEN 768px */
@media (min-width: 768px) { 
  section._container_item,
  section._container_item_disabled {
    width: 45vw;
  }
  div._container_info {
    width: 55vw;
  }
  img._logo {
    width: 15vw;
  }
  section._container_career {
    padding: 0 5rem 1rem 5rem;
  }
}

/* SCREEN 1024px */
@media (min-width: 1024px) { 
  article._container_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  div._container_cards {
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
  }
  section._container_item,
  section._container_item_disabled {
    width: 22vw;
    margin: 1rem 2rem .5rem 2rem;
  }
  section._container_career {
    padding: 0 .5rem 1rem .5rem;
  } 
  img._logo {
    width: 15vw;
  }
  div._container_info {
    height: 20rem;
    width: 23vw;
    margin-top: 0;
  }   
}
/* SCREEN 1440px */
@media (min-width: 1440px) { 
  section._container_item {
    width: 20vw;
    margin: 1.3rem 2.3rem;
  }
  div._container_info {
    width: 21vw;
    margin: -1rem .5rem .5rem .5rem
  }
}
/* SCREEN 1500px */
@media (min-width: 1500px) { 
  div._container_info {
    height: 25rem;
  }
}
/* SCREEN 1920px */
@media (min-width: 1920px) { 
  section._container_item {
    width: 22vw;
  }
  img._logo {
    width: 12rem;
  }
}


