<article>
  <section>  
    <button mat-button class="_button_back" title="Volver" routerLink="../../">
      <mat-icon class="_icon_button">keyboard_backspace</mat-icon>
    </button>
    <div class="_container_title">
      <mat-icon class="_icon_nav">{{ icon }}</mat-icon>
      <h1 class="_title">{{ area }}</h1>
    </div>
    <div class="_container_mobile">
      <img class="_mobile" src="../assets/images/ux_ui/v-life/mobile_dark.png" alt="">
    </div>
    <article class="_container_all">
      <section class="_gallery">  
        <button class="_active_button" (click)="beforeImg()"
          [ngClass]="currentImageIndex === 0 ? '_inactive_button' : '_active_button'">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <div class="_container_image">
          <img class="_image_gallery" alt="First slide"
            [src]="imgGallery">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div> 
        <button class="_active_button" (click)="nextImg()"
          [ngClass]="currentImageIndex === images.length - 1 ? '_inactive_button' : '_active_button'">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </section>
      <div class="_container_count">
        <div class="_image_counter">{{ currentImageNumber }} / {{ images.length }}</div>
      </div>
      <div class="_container_info">
        <h4 class="_title_product">V-LIFE App Mobile</h4>
        <p class="_p_card">App mobile que <span>conecta pacientes con profesionales de la salud.</span> 
          En el <span>año 2019, Sebastián</span> fue encargado de realizar <span>rediseño de marca, diseño UX | UI, 
          flujo de interacción</span> en baja definición, <span>test con usuarios y armado de prototipos</span> en alta definición,
          utilizando <span>Adobe Xd</span> y componentes <span>UI Ionic.</span> El trabajo fue realizado para Trenda Software ocupando el rol de <span>UX Design Lead.</span> 
          La app fue <span>lanzada en 2020</span> en Argentina.
        </p> 
      </div>
    </article>
    <app-footer class="_footer"></app-footer>
  </section>
</article>
