
<article>
  <section>
    <div class="_container_mobile">
      <img class="_mobile" src="../assets/images/ux_ui/v-life/mobile_dark.png" alt="">
    </div>
    <article class="_container_all">
      <section class="_gallery">  
        <!-- <button class="_btn_gallery _before" (click)="beforeImg()"
          [ngClass]="activeBefore ? '_active_button' : '_inactive_button'">
          <mat-icon>navigate_before</mat-icon>
        </button>   -->
        <button class="_btn_gallery _before" (click)="beforeImg()"
          [ngClass]="currentImageIndex === 0 ? '_inactive_button' : '_active_button'">
          <mat-icon>navigate_before</mat-icon>
        </button>
        <div class="_container_image">
          <img class="_image_gallery" alt="First slide"
            [src]="imgGallery">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div> 
        <button class="_btn_gallery _next" (click)="nextImg()"
          [ngClass]="currentImageIndex === images.length - 1 ? '_inactive_button' : '_active_button'">
          <mat-icon>navigate_next</mat-icon>
        </button>
        
        <!-- <button class="_btn_gallery _next" (click)="nextImg()"
          [ngClass]="activeBefore ? '_active_button' : '_inactive_button'">
          <mat-icon>navigate_next</mat-icon>
        </button>     -->
      </section>
    </article>
    <div class="_container_button_back">
      <button mat-button class="_button_back" routerLink="../../">
        <mat-icon class="_icon_button">keyboard_backspace</mat-icon>
      </button>
    </div>
    <app-footer class="_footer"></app-footer>
  </section>
</article>
