<article>
  <button mat-button class="_button_back" title="Volver" routerLink="../../">
    <mat-icon class="_icon_button">keyboard_backspace</mat-icon>
  </button>
  <div class="_container_title" routerLink="../../">
    <mat-icon class="_icon_nav">{{ icon }}</mat-icon>
    <h1 class="_title">{{ area }}</h1>
  </div>
  <div class="_container_mobile">
    <img class="_mobile" src="../assets/images/ux_ui/v-life/mobile_dark.png" alt="">
  </div>
  <article class="_container_all">
    <app-gallery [images]="images" [imgGallery]="imgGallery"></app-gallery>
    <div class="_container_info">
      <h4 class="_title_product">V-LIFE App Mobile</h4>
      <p class="_p_card">App mobile que <span>conecta pacientes con profesionales de la salud.</span> 
        En el <span>año 2019, Sebastián</span> fue encargado de realizar <span>rediseño de marca, diseño UX | UI, 
        flujo de interacción</span> en baja definición, <span>test con usuarios y armado de prototipos</span> en alta definición,
        utilizando <span>Adobe Xd</span> y componentes <span>UI Ionic.</span> El trabajo fue realizado para Trenda Software ocupando el rol de <span>UX Design Lead.</span> 
        La app fue <span>lanzada en 2020</span> en Argentina.
      </p>
    </div>
    <app-brands-buttons></app-brands-buttons>
  </article>
  <app-footer class="_footer"></app-footer>
</article>
